<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


  <test thread-count="5" name="Test">
    <classes>
      <class name="piku.A">
      <methods>
      <include name="t.*"/>
      </methods>
      </class>
      <class name="piku.B"/>
    </classes>
  </test> <!-- Test -->
  
  <test name ="Test1">
  <classes>
  <class name="piku.C">
  <methods>
  <exclude name="opo"/>
  <include name="samsung"/>
  </methods>
  </class>
  </classes>
  </test>
</suite> <!-- Suite -->
